{% load staticfiles %} {% load static %}
<div class="footer">
    <p>Made by &copy; Kezia Irene</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</script>
