{% extends "YPM/layout/base.html" %}
{% load staticfiles%}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
{% endblock %}


{% block content %}
<div id="snow">
        <h1 style="text-align:center;">Surat Perorangan Untuk Kalian</h1>
        <br><br><br><br><br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Abigail Panggabean</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Amelia Miranti</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Annisa Ghaisani</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Azriel Lilo</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Benedictus Ariel</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Dhiya Syakara</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Filipi Rodo</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Florencia Fiona</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Giovanni Herman</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Graciel Megalen</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Hans Maruli</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">John Kenwin</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Kezia Emanuella</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Jasmira</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Mosyeh Abdisa</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Nathania Vanessa</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Odeta Hutagalung</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Sifra Niwan</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Tamariska Kristianto</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeypress="keyCode(event)"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
<br>
<section>
        <label>
                <input type="checkbox" id ="hideit" />
                <div class="card">
                    <div class="front">Veronica Rahma</div>
                    <div class="back">
                            <p>Masukkan kode kamu :) <input type="text" onkeyup="keyCode(event)" id="inSize"> </p>
                        
                    </div>
                </div>
            </label>
            <p id="demo"></p>
</section>
</div>

{% block javascript%}
    <script>
        function keyCode(event) {
            var x = event.keyCode;
            document.getElementById("demo").innerHTML = "The Unicode value is: ***" ;
            if (x == 33) {
                alert ("Halo Abi, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget karena udah mau dateng ke konser Mahawaditra gua, udah mau jadi partner gua presentasi pedagogi, sama udah mau jadi temen gua. Pas pertama kali ketemu lu di PK2, gua kagum bgt ketemu sama orang yg udah cuti dari YPM dan balik lagi. Gua juga kagum sama semangat lu yang gapernah padam. Lu menginspirasi gua saat lu diputusin sama pacar lu dengan tidak berperikemanusiaan. Gua gatau gua gimana kalau jadi elu. Terus makasih banget udah mencegah gua cuti akademik, karena emang bener semester 5 dan 6 berat bgt (huaa..). (gua gangerti cara enter gimana -__-) Gua juga pengen minta maaf bgt kalo selama ini gua rese dan sombong. Kalo boleh jujur, gua gaada sama sekali maksud buat begitu, gua juga berusaha untuk engga. Kalo boleh, tegur aja gua di depan muka kalo gua begitu.. Gua suka kok kalo ditegur. Semoga elu tetep mau jadi temen gua, instead of segitu banyak kekurangan gua.       Tetap semangat Bhi, menghadapi YPM dan semester 6. Sebentar lagi YPM akan berakhir! (p.s. psiko gua presentasi sendiri ya? Maaf ya, gua beneran gabisa dtg wkt itu, ada ujian) ");
            }
            if (x == 35){
                alert("Halo Aghai, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget karena udah mau beli tiket konser Mahawaditra (meski kemacetan di jalan) dan udah mau jadi temen gua. Pertama kali kenal lu pas les sama Tante Paula, gua kagum bgt sama lu, soalnya bisa kuliah kedokteran gigi di UI sambil YPM pula. Dan sekarang pun gua masih kagum sama lu, soalnya lu bisa jalanin YPM (semua kelas literally) sambil bikin skripsi bahkan sidang. Lu ga pernah henti-hentinya impress gua, mulai dari jadi finalis mapres utama, pemenang lomba ini itu, dan nilai YPM lu juga bagus bgt. Gua berharap suatu hari bisa sehebat lu.   Oh iya, gua minta maaf ya kalau selama ini belum menjadi teman yang baik. Maaf kalo gua nyakitin elu pas bilang ip 3.83 itu rendah. Sebenernya gua bilang gitu karena gua kesel sama dosen yang beneran pelit nilai, dan kecewa juga gara-gara salah milih dosen dan akhirnya malah dapet nilai B. Maaf bgt, gua beneran gaada maksud buat sombong atau begimana. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.   Selamat ya udah mau wisuda.. Doakan gua 4 semester lagi bisa nyusul elu wisuda. Semangat Aghai PK3 nya.");
            }
            if (x == 34){
                alert("Halo Amel, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau kerja bareng gua pas nyiapin meet and greet, udah mau dukung gua di AAPC, dan udah mau jadi temen gua. Pertama kali gua kenal lu pas konser tingkat 5, gua kagum banget anak SD kelas 6 bisa udah YPM tingkat 5 (soalnya waktu itu gua udah SMA wkwk). Sekarang pun gua masih kagum sama lu, soalnya meski lu masih muda, tp musik lu jauh lebih dalem daripada gua, kayak lu udh hidup puluhan tahun lebih lama daripada gua. Gua pengen minta maaf juga mel, kalo gua rese, sok ngatur, dan nyebelin. Maaf bgt, gua beneran gaada maksud buat nyakitin elu atau merasa lebih tinggi daripada siapapun juga. Gua tau kok, gua bukan siapa-siapa. Semoga lu masih mau berteman sama gua instead of segala kekurangan gua.     Semangat Mel ujian piano dan sekolah nya (p.s. gimana rasanya SMA? hahaha)");
            }
            if (x == 36){
                alert("Halo Lilo, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud begitu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan sekolahnya!! (P.s. Ada apa dengan lu dan Aghai ya? kok kayaknya gua ketinggalan berita)");
            }
            if (x == 37){
                alert("Halo Ben, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua beneran pengen mohon maaf bgt kalau selama ini gua memperlakukan lu dengan buruk. Dari lubuk hati gua yang terdalam gua beneran gaada maksud buat nyakitin elu. Gua mohon maaf bgt kalo gua suka geregetan sama lu, gua masih hrs banyak belajar sabar. Pas psikologi kemarin, gua denger lu bilang, ngapain gua tulis orang ini, yang ada gua stress. Well, I assume itu adalah gua. Ben, gua bicara sungguh-sungguh kalau lu masih berkenan buat dengerin gua, gua beneran mohon maaf kalau gua belom jadi temen yang baik buat lu. Sebenernya gua pengen bgt bantuin orang-orang. Beneran, kalau ada pelajaran yg berkaitan sama mat (misal statistika atau probabilitas) silakan tanya gua aja. Gua bakal berusaha dgn sepenuh hati ngejelasin. Semoga lu masih mau berteman sama gua instead of segala kekurangan gua.    Semangat kuliah dan PK 3 nya. Semangat juang lu itu ga pernah berhenti menginspirasi gua Ben. Terus jadi inspirasi buat semua orang.");
            }
            if (x == 38){
                alert("Halo Dhiya, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua inget banget pas kita berjuang main riong lagu Gebyar Jaya Asmara. Lu juga keren bgt bisa bagi waktu dalam sekolah, YPM, dan ikut sanggar tari. Itu beneran 3 hal yang bertolak belakang. Gua mohon maaf bgt kalau selama ini gua belum menjadi teman yang baik buat lu. Maaf kalau gua pernah nyakitin elu. Kalau lu masih berkenan dengerin gua, dari lubuk hati gua yg paling dalam, gua gapernah pengen nyakitin elu. Kalau boleh, tegur aja gua di depan muka kalau gua bersalah. Gua seneng kok ditegur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua. Lu sangat hebat Dhi, jarang ada orang yang berani dalam bertanya kepada orang lain.   Semangat kuliah Arsi dan ujian pianonya Dhiya!!");
            }
            if (x == 39){
                alert("Halo Fipo, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau dateng ke konser Mahawaditra, udah mau dengerin gua curhat, udah mau gua ajak argumen. Seriously, lu teman gua yg paling bisa gua ajak argumen di YPM. Karena kalau gua ngomong sesuatu ke anak lainnya, entah mereka sakit hati atau langsung dinyolotin. Dari lubuk hati gua yang terdalam, gua beneran bersyukur punya teman kayak lu. Lu orang paling paham gua di YPM. Gua ngerasa gaada orang yang ngerti gua. Semua orang cuma ngeliat gua dari kekurangan gua. Contohnya yang pas gua bilang ip 3.83 itu rendah, sebenernya kalo boleh jujur gua punya alasan di balik itu. Jadi ceritanya wkt semester 2 itu gua kesel karena salah pilih dosen, yang akhirnya nilai gua cuma dpt B dan akhirnya menjatuhkan ip gua. Gua beneran gaada maksud mau nyombongin diri ato begimana. Makasih banyak udah mau dengerin cerita dari sisi gua, meskipun semua anak YPM lainnya melihat cerita itu dari sisi lainnya. Sebenernya gua sangat pengen menjadi orang yang baik kayak kalian. Tp gua punya ideologi sendiri, dan yang mereka lakukan suka bertentangan sama yang gua inginkan. Tolong gua ya fip, tegur aja di depan muka gua kalo gua emang salah. Gua suka kok ditegur. Lu beneran orang yang spesial di YPM buat gua. Makasih selalu ada buat gua dan ga ninggalin gua saat yang lain ninggalin gua, gosipin gua, bahkan benci gua.    Semangat YPM dan elektronya fip. Tetap semangat meski ada yg mengulang, jadikan itu kesempatan buat memperbaiki kegagalan lu. Gua tunggu semester depan gua dapet kabar kalau Analisis Vektor lu dapet A!! Semangat Fip (p.s. kalo ada matkul matematika yg gangerti, tanya gua aja.. Gua akan berusaha ngajarin). Gua beneran terinspirasi sama positifitas elu. Gua gabisa bayangin sampe gua ngulang gua bakal gimana. Gua masih harus banyak belajar. Semangat ya fipp!! Lu pasti bisa lulus tepat waktu dan cum-laude. ");
            }
            if (x == 40){
                alert("Halo Fiona, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua selama ini. Gua inget banget pas kita berjuang main riong bareng lagu Gebyar Jaya Asmara. Dan pulang malem-malem terus pas lagi gamelan. Makasih juga udah mau dengerin curhat gua pas pulang gamelan. Gua mohon maaf bgt ya fi, kalo selama ini gua belum jadi temen yang baik buat elu. Gua beneran gaada maksud sama sekali buat nyakitin elu. Maaf juga Fi, gua wkt itu gadateng ke sweet 17 lu. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.           Semangat ujian piano dan UN nya!!! (p.s. Ayo masuk PTN FI!) ");
            }
            if (x == 41){
                alert("Halo Ivan, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau kerja bareng gua di meet and greet AAPC, terus udah mau bantu gua di AAPC, dan udah mau jadi temen gua di YPM. Gua inget pas kenal lu di kelas 6 YPM, dan lu masih diem bgt. Tp abis itu kita lewatin banyak hal bareng-bareng seperti repclass, teori, sejarah, dll. Musik lu selalu menginspirasi gua Van. Tone lu beneran gaada yang bisa ngalahin. Gua heran lu masih lebih muda dr gua, tp lu bisa main kayak lu udh punya banyak bgt pengalaman. Lu beneran inspirasi buat gua. Gua mau minta maaf Van, kalau selama ini gua suka rese, sok ngatur, dll. Dari lubuk hati gua yang paling dalam gua beneran gaada maksud untuk berbuat kayak gitu. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.     Semangat Van YPM dan UN nyaa!! (p.s ayuk masuk PTN vann!!)");
            }
            if (x == 42){
                alert("Halo Graciel, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Pas lu pertama kali dateng aja, gua mungkin kurang welcome sama lu. Maaf bgt, wkt itu gua beneran lagi stress berat. Gua juga minta maaf sama lu yg Maikarduck, karena gua kesel lu gabuka grup, terus main mau gabung aja. Semua perkataan itu memang gabisa menjustifikasi perbuatan gua, tapi dr lubuk hati terdalam gua beneran gaada maksud melukai lu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian solfe dan kuliahnya!! (P.s. ikut dong kalo demo lagii)");
            }
            if (x == 43){
                alert("Halo Hans, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua suka stress dan kadang kurang mengontrol emosi. Gua beneran gaada maksud melukai elu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan sekolahnya!! (P.s. Tanya-tanya gua komputer aja.. Gua suka kok ditanya-tanyaa..)");
            }if (x == 44){
                alert("Halo Kenwin, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua gapernah lupa perjuangan kita main riong lagu Gebyar Jaya Asmara yang tak bisa diungkapkan dengan kata-kata (hehehe). Gua juga bangga bgt sama Vanziswin Piano Duo yang keren bgt. Terus sama yg paling baru kejadian pas milih nomor undian piano (HAHAHAHAHA). Lu selalu menginspirasi gua, gimana lu bisa bagi 2 instrumen piano dan biola (dan 2-2 nya beneran bagus bgt), gimana lu bisa main lagu-lagu yg susah bgt, dan masih banyak lagi. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud melukai elu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan UN nya!!(p.s. lu jadi ke Julliard?? Kasitau gua di web dong.. wkwkw)");
            }if (x == 45){
                alert("Halo Kezia, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah dateng ke sweet 17 gua dan udah mau jadi temen gua. Lu beneran menginspirasi gua Kez.. Ketabahan lu dan semangat juang elu yang ga berhenti-berhenti itu sangat luar biasa Kez. Kalau gua jadi elu, gua gatau skrg gua udah gimana. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Kalau gua rese, sombong, sok ngatur, main enak sendiri. Gua beneran gaada maksud begitu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan kuliahnya!! (p.s. psiko gua presentasi sendiri ya?)");
            }if (x == 46){
                alert("Halo Mira, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua inget grup Solfegio Horror, dan elu termasuk salah satu orang yang pertama kali mau bertemen sama gua. Makasih yaa..  Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud melukai elu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan sekolahnya!!");
            }if (x == 47){
                alert("Halo Mosyeh, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua inget bgt kalau lu temen pertama gua di YPM. Lu orang pertama yang mau bertemen sama gua pas tingkat 6. Lu juga gapernah berhenti menginspirasi gua. Musiklu itu luar biasa, dan bener-bener karunia Tuhan ada orang yang bisa main sehebat elu. Gua juga ga lupa sama Vanziswin Piano Duo. Grup yang sangat gua banggakan. Elu gapernah berhenti menginspirasi gua. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud melukai elu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan UN nya!! (p.s. lu jadinya masuk manaa? jawab di web gua dong.. hehe)");
            }if (x == 48){
                alert("Halo Vanessa, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua inget banget sama grup Solfegio Horror. Lu beneran salah satu dari teman-teman pertama gua yang mau berteman sama gua di YPM. Gua juga inget sama Vanziswin Piano Duo. Grup yang sangat gua banggakan. Makasih ya udah mau main bareng gua. Gua sangat terinspirasi sama ketabahan dan semangat lu Sa.. Kalau gua jadi lu, gua mungkin udah gatau hrs gimana. Bisa-bisa gua skrg udah ga YPM lagi. Lu beneran inspirasi buat gua. Terus gua juga terinspirasi sama kecintaan lu sama musik. Padahal lu adalah JUARA UMUM dan peserta OSN, tapi rela ninggalin itu semua demi MUSIK. Itu beneran luar biasa Sa.. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud melukai lu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan UN nya!!(p.s. jadinya masuk manaa?? jawab di page gua dongg.. hehe)");
            }if (x == 49){
                alert("Halo Odeta, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Kalo kadang gua sombong, parno, rese, dll. Gua beneran gaada maksud melukai elu kalo boleh jujur. Mungkin yang gua ngomong gaakan menjustifikasi perbuatan gua ke elu. Gua gatau mungkin lu udah gasuka bgt sama gua. Tp gua pengen minta maaf aja ya Det, semoga lu masih mau jadi temen gua instead of segala kekurangan gua. Gua memang masih harus banyak belajar. Kalau memang gua salah, tegur aja gua di depan muka. Gua suka kok ditegur hehe.     Semangat ujian piano dan kuliahnya!!");
            }if (x == 50){
                alert("Halo Sifra, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Lu beneran berani Sif. Mungkin gua gaakan berani ambil Gap Year demi YPM. Lu adalah inspirasi buat gua. Lu juga luar biasa Sif, lu bisa bagi waktu antara SMA kelas 3, YPM, dan PSAI. Itu literally 3 bidang yang berbeda, yet you manage to make ALL OF THEM WORK. Gua gabisa bayangin kalau gua jadi elu gua bisa udah gila kali. Gua udah baca surat lu. Sebenernya gua gaada maksud apapun buat masang tampang gaseneng atau sok tau begitu. Itu kebiasaan gua yang sangat buruk, dan harus banyak gua ubah. Gua tau kok, perkataan ini gaakan bisa menjustifikasi perbuatan gua. Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud melukai elu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua. Terus kalau boleh, tegur aja gua di depan muka. Gua suka kok ditegur hehe.       Semangat ujian piano dan kuliahnya!! (p.s. jadinya masuk manaa? Jawab di web gua dongg.. hehehe)");
            }
            if (x == 51){
                alert("Halo Tata, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau dateng ke sweet 17 gua dan udah mau jadi temen gua. Gua inget ketemu lu di Bubur Mangga Besar (hehe), sama di konser Steven Hough, kita realize kalau kita saingan lomba Gloriamus Open Violin Competition pas masih kecil (dan elu menang hahahhaah). Lu gapernah berhenti menginspirasi gua Ta. Gimana lu bisa belajar 2 instrumen sekaligus dan beneran DEWA BANGETT. Mungkin sampai kapanpun gua gaakan bisa mencapai level yang udah lu capai sekarang. Gimana caranya lu dapet 100 sekaligus tampil solo violin dan jadi CM Ta? Itu beneran luar biasa bgt. Lu gapernah berhenti bikin gua kagum.  Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud melukai elu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan sekolahnya!!(p.s. kalo udah famous jangan lupain gua ya) ");
            }
            if (x == 52){
                alert("Halo Veni, maaf mungkin ini gaenak dibaca (hehe).. Jadi pertama gua mau bilang makasih banget udah mau jadi temen gua. Gua juga makasih banget kalo lu mau kasih workshop komposisi di OSUI (heheheh). Gua minta maaf ya Ven, gua gajadi ikut main buat ujian lu. Padahal to be honest gua suka bgt lagunya dan gua beneran excited buat mainin karya lu. Maaf bgt Ven, wkt itu gua ada tur sekolah OSUI yang beneran nyita waktu gua bgt. Prestasi lu gapernah habis-habisnya bikin gua kagum Ven. Lu selalu menginspirasi gua. Gimana lu bisa berprestasi sebanyak itu, sambil kuliah dan YPM. Ajarin gua dong hehehe? Gua mohon maaf bgt kalau selama ini gua memperlakukan lu kurang baik. Gua beneran gaada maksud melukai lu kalo boleh jujur. Semoga lu masih mau jadi temen gua instead of segala kekurangan gua.    Semangat ujian piano dan kuliahnya!! (p.s. kalo udah famous jangan lupain gua yaa.. hehhee)");
            }
    }
    </script>
    {% endblock %}
    {% endblock %}

