{% extends "YPM/layout/base.html" %}
{% load staticfiles%}

{% block style %}
    <!-- bootstrap csss -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutme.css' %}">
{% endblock %}

{% block content %}
<div class="profile">
<h1>Profile</h1>
</div>
<hr>

<section name="name">
    <p align = "center">
         <img src={{model_pic}} class="img-circle" widht="200" height="200">
    </p>

    <p align = "center">
        <div class = "name">
        <h2 align="center">{{name}}</h2>
        </div>
    </p>
</section>
<hr/>
<section name="about_me">
    <table class="table" align="center">
        <tr>
            <td>Birthday</td>
            <td>{{birthdate}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{gender}}</td>
        </tr>
        <tr>
            <td>Expertise</td>
            <td>
                {% for data in expertise %}
                    <span class="badge badge-pill badge-primary" id="bege">{{data.expertise}}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{description}}</td>
        </tr>
    </table>
</section>

<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'aboutme:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>



{% endblock %}
