{% extends "YPM/layout/base.html" %}


{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% endblock %}



{% block content %}

<style>
    .mySlides {display: none;}
</style>
<h1 class="w3-center">B. A. W. S. 2018 (Scroll ke bawah ya..)</h1>

<div class="w3-content w3-section" style="max-width:800px; max-height:100px">
  <img class="mySlides" src="https://docs.google.com/uc?id=1F3qbLU6ZwAJ7EWJ1yJ4zbvEgyE7uXeUI" style="width:100%">
  <img class="mySlides" src="https://docs.google.com/uc?id=1geCyfoo8Pp4ZJvBtDKAsVNFGQzUyInBg" style="width:100%">
  <img class="mySlides" src="https://docs.google.com/uc?id=1Rojz7ttziqBUWM7IQRxUZCqehLFpiUrO" style="width:100%">
  <img class="mySlides" src="https://docs.google.com/uc?id=1uwuvAtS586PILHMH97xJhLy14IJNodEw" style="width:100%">
  <img class="mySlides" src="https://docs.google.com/uc?id=1Y6aivs2v_1CkiHDJ-RupfYhWHfpFwROJ" style="width:100%">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class= "paragraph">
    <p><h2 style="text-align: center;
        ">Surat Umum Buat Kalian Semua</h2></p>
    
    <pre>
        Hai guys.. Maaf bgt ya.. Mungkin surat dari gua yg terakhir sampe :")
    
        Jadi ya sekarang kira udah ada di penghujung tahun ajaran banget ya? Sebentar lagi ujian huaaa...
    

            Pertama, gua mau minta maaf dulu kepada kalian semua. Gua tau kok selama ini gua belum menjadi teman yang baik.
        Tapi percayalah kalau gua juga orang yang sedang berproses dan engga sempurna. Semoga kalian masih mau menerima gua
        sebagai teman kalian. Gua berjanji akan selalu berusaha buat menjadi pribadi yang lebih ramah, lebih mau mendengarkan, 
        lebih mau memahami, pokoknya yang lebih baik :"). Maaf buat kalian yang pernah sakit hati gara-gara perkataan maupun 
        perbuatan gua. Gua mungkin punya background yang kalian ga tau dan menyebabkan gua seperti ini. Plis jangan benci gua :"

            Kedua, website ini tolong jangan disebar ke siapa-siapa ya. Karena takutnya akan merusak reputasi gua di kalangan umum.
        Soalnya mungkin di website ini, gua akan cerita panjang lebar dan plis bgt jangan sampe di ekspos ke organisasi ataupun siapapun.
        Gua juga mengajak kalian kalo mau ngembangin website ini bareng-bareng, bilang gua aja ya.. Soalnya gua punya rencana kalau
        website ini nantinya juga jadi website angkatan kita (Setelah isinya dirombak obviously).

            Mungkin sejak PK 2 pertengahan kali ya, karakter gua yg sekarang mulai keluar. Entah kenapa gua juga bingung kenapa 
        karakter gua jadi begini. Dulu rasanya gua ga se ambis ini (ato iya?). Kadang gua mikir, seandainya gua bisa kembali ke masa lalu,
        apakah gua bisa berubah jadi orang yang lebih baik? Kenapa gua suka nge judge orang begitu rupa, kenapa gua egois banget, kenapa gua
        sombong banget, kenapa gua bossy banget. Kalau gua boleh minta tolong kalian buat bantu gua jadi orang yang lebih baik?

            Kenangan bareng kalian selama 3 tahun itu sangat berharga. Gua gaakan pernah lupa kalian, pejuang sejati yang memperjuangkan
        musik dan hal lainnya. Kalian orang-orang hebat yang pernah gua temui. Gua selalu ingat Mosyeh, teman gua yang pertama kali sejak 
        gua masuk YPM. Gua ga pernah lupa sama grup "Solfegio Horor", grup yang kita buat pas PK 1. Vanessa, Mira, Karin, Lidya, Mika, kalian
        orang yang pertama kali mau berteman sama gua (karena anak bintaro udah punya geng hehe). Gua ga akan bisa lupa sama Kezia Emanuella 
        dan Tata, kalian orang yang gua undang (dan dateng) ke sweet 17 gua. Yang selalu teringat Abi, Fipo, dan Aghai makasih ya udah mau nonton
        konser OSUI gua.. It means a world for me. Makasih udah mau dukung gua. Yang terlucu pas gua lagi gamelan: Fifi, Kenwin, Dhiya (pejuang 
        riong hehehe).Gua juga ga lupa sama grup "Baper kereta", grup para pejuang kereta, grup "Golden Solfe", grup para pelajar solfegio,
        grup "Baper Senin", yang mana gua di kick karena nyebarin jawaban (maaf :"), grup "Vanziswin Double Piano", grup duo piano yg gua banggakan
        (Mosyeh, Kenwin, Sasa), dan yang terkini grup "UI+YPM 2016", grup yang tadinya isinya cuma 3 orang yaitu gua, keze, dan fipo, lalu sekarang 
        isinya udah 9 ORANG!! Yang berisi teman-teman gua yang hebat bgt dan bisa bagi waktu kuliah sama YPM. Abi yang asisten lab, Aghai yang beneran
        merupakan panutan gua, Fipo yang selalu ceria, Odet yang ter hits, Keze yang tersibuk, Dhiya yang pejuang arsi (WOW), Graciel yang ambis, dan 
        tidak lupa Ben yang selalu menghibur. Terakhir juga ada grup "200 juta jingle", yang akhirnya demot :"). (Ada yang ke skip?)

            Sekali lagi gua mohon maaf ke kalian. Semua yang gua lakukan beneran gaada maksud buat melukai kalian kok. Terus kalau kalian ada saran 
        buat pengembangan diri gua, tolong bilang ke gua, karena kadang kalian lebih tau daripada gua sendiri. Oh iya, nanti ada surat buat kalian
        satu persatu di page <a href="{% url 'aboutus:index' %}"><b style="color:#FF000D;">about us</b></a>. Kalo bisa gua akan pakein password khusus buat kalian satu persatu. Plis jangan dimasukkin random, 
        ini web belom bener-bener banget. <u>Kezia masih cups</u>. Terus kalau kalian mau ninggalin pesan ke gua, bisa di post di halaman 
        <a href="{% url 'aboutme:index' %}"><b style="color:#FF0000;">about me</b></a>. Gua berharap banyak kalian mau ngasih saran buat gua apa aja :"). Kalian juga bisa kirim DUDU (Dari, Untuk, Dengan Ucapan)
        di page <b style="color:#FF0000;">Post</b>.


        Sekian dari gua, SEMANGAT UJIANNYA GAISS. Semoga kalian suka sama web gua.. 



        Salam, 


        Kezia Irene
        Ilmu Komputer 2016

    </pre>
</div>
{% block javascript%}
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>

{% endblock %}
{% endblock %}
